
fastapi
uvicorn[standard]

librosa
soundfile
ffmpeg-python

torch             
transformers
numpy
scikit-learn

git+https://github.com/openai/whisper.git

sentencepiece
huggingface-hub

python-dotenv    

google-genai
requests

pytest
pytest-asyncio
