# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Node (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
