name: NextJS CI
on:
  push:
    branches: ["main", "dev", "dev-branch-1", "dev-branch-2", "dev-branch-3", "dev-branch-4"]
  pull_request:
    branches: ["main", "dev", "dev-branch-1", "dev-branch-2", "dev-branch-3", "dev-branch-4"]

jobs:
  frontend-build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend 

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          path: .

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install deps (clean)
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build Next.js
        run: npm run build


