name: NextJS CI
on:
  push:
    branches: ["main", "dev", "dev-branch-1", "dev-branch-2", "dev-branch-3", "dev-branch-4"]
  pull_request:
    branches: ["main", "dev", "dev-branch-1", "dev-branch-2", "dev-branch-3", "dev-branch-4"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install deps (clean)
        run: cd frontend && npm ci

      - name: Lint
        run: cd frontend && npm run lint

      - name: Build Next.js
        run: cd frontend && npm run build


